body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-top: 50px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
}

p {
  line-height: 2;
}

h4 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #005660;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #040032;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  display: inline-block;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.header-row {
  width: 90%;
  margin: auto auto auto auto;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-img {
  width: 40%;
  float: left;
  margin-right: 150px;
  margin: 60px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  text-align: left;
  padding-left: 100px;
  width: 80%;
}

.title-text {
  padding: 50px;
}